body{
    background-color: rgb(0, 187, 255);
    overflow: hidden;
    height: 100vh;
}

#about_tab{
    overflow-y: scroll;
    height: 90vh;
    margin-top: calc(50vh - 49vh);
    margin-bottom: 20vh;
}

#project_tab{
    overflow-y: scroll;
    height: 90vh;
    margin-top: calc(50vh - 49vh);
    margin-bottom: 20vh;
}

#contact_tab{
    overflow-y: scroll;
    height: 90vh;
    margin-top: calc(50vh - 49vh);
    margin-bottom: 20vh;
}
/* Add this to your existing CSS file */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    backdrop-filter: blur(8px); /* Adjust blur strength as needed */
    z-index: 1000;
    display: none;
}

.card {
    position: relative;
    z-index: 2000; /* Ensure cards are above the overlay */
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.1); /* Scale up card on hover */
}

.card-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 3000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.card:hover .card-popup {
    opacity: 1;
    pointer-events: auto;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.card-deck .card {
    margin-bottom: 20px;
    animation: slideIn 1s ease-in-out;
}

.card-deck .card:nth-child(even) {
    animation: slideInLeft 1s ease-in-out;
}

.card-deck .card:nth-child(odd) {
    animation: slideInRight 1s ease-in-out;
}

@keyframes slideIn {
    0% { opacity: 0; transform: translateX(100px); }
    100% { opacity: 1; transform: translateX(0); }
}

@keyframes slideInLeft {
    0% { opacity: 0; transform: translateX(-100px); }
    100% { opacity: 1; transform: translateX(0); }
}

@keyframes slideInRight {
    0% { opacity: 0; transform: translateX(100px); }
    100% { opacity: 1; transform: translateX(0); }
}
